.btn-default {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Actay wide";
  background-color: rgba(13, 75, 148, 1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
  height: 36px;
  padding: 0 20px;
  border: 1px solid rgba(83, 83, 83, 1);
  cursor: pointer;
  &:hover {
    background-color: rgba(98, 149, 208, 1);
    color: white;
  }
  &:focus {
    border: 3px solid rgba(98, 149, 208, 1);
    background-color: rgba(13, 75, 148, 1);
  }
  &:active {
    border: 3px solid rgba(13, 75, 148, 1);
    background-color: rgba(98, 149, 208, 1);
  }
  @media (max-width: 699px) {
    font-size: 12px;
  }
}
