.card-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 1199px) {
    display: block;
  }
  &.hidden {
    display: none;
  }
}

.overlay {
  background-color: rgba(83, 83, 83, 0.5);
  z-index: 10;
}

.card-modal__wrapper {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 32px;
  @media (max-width: 1199px) {
    flex-direction: column;
    padding: 80px 32px;
  }
}

.card-modal__pics {
  width: 50%;
  overflow: hidden;
  .swiper-slide {
    img {
      background-color: #f2f5f8;
      border-radius: 12px;
      width: 100%;
    }
  }
  .swiper-card {
    position: relative;
  }
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.card-modal__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.card-modal__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Actay wide';
  @media (max-width: 699px) {
    font-size: 16px;
  }
}

.card-modal__subtitle {
  font-size: 20px;
  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.card-modal__text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
  @media (max-width: 1199px) {
    font-size: 14px;
  }
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    path {
      fill: #535353;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  &:after {
    display: none;
  }
  &:hover {
    path {
      fill: rgba(13, 75, 148, 1)
    }
  }
}
