header.header
    ._container 
        .header__wrapper 
            a.header__logo(href="/") Даймонд
            .header__contacts 
                a(href="#contacts").btn-default Напишите нам
                a(href="tel:89202650212") +7 920 265-02-12
        
