.card-modal.overlay.hidden
    .card-modal__wrapper 
        button.modal__close
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94414 28L0 25.0559L11.0072 14L0 2.94414L2.94414 0L14 11.0072L25.0559 0L28 2.94414L16.9928 14L28 25.0559L25.0559 28L14 16.9928L2.94414 28Z" fill="rgba(83, 83, 83, 0.5)"/></svg>

        .card-modal__pics 
            .swiper-card
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/card1.png" alt="")
                    .swiper-slide
                        img(src="img/card11.png" alt="")
                    .swiper-slide
                        img(src="img/card12.png" alt="")
                .swiper-button-prev
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.083 33.667L0.416992 17L17.083 0.333008L19.625 2.91701L5.54199 17L19.625 31.083L17.083 33.667Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
                .swiper-button-next
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.917 33.625L0.375 31.042L14.458 16.958L0.375 2.83299L2.917 0.291992L19.583 16.958L2.917 33.625Z" fill="rgba(13, 75, 148, 0.3)"/></svg>

        .card-modal__description 
            h3.card-modal__title Полумаска фильтрующая для защиты от аэрозолей (респиратор) «Л-200»
            span.card-modal__subtitle Класс фильтрующей эффективности: FFP2 (до 12 ПДК) FFP3 (до 50 ПДК)
            .card-modal__text 
                p Полумаска фильтрующая (респиратор) «Л-200» предназначена для индивидуальной защиты органов дыхания человека от вредных аэрозолей – пыли, дыма, тумана.
                p Не предназначена для защиты от вредных паров и газов.
                p Изделие представляет собой фильтрующую полумаску с двумя лентами оголовья. Его корпус состоит из нескольких слоёв различных фильтрующих материалов.
                p Собирается индивидуально, с учётом анатомических особенностей лица конкретного человека.
                p Полумаска является одноразовой – маркировка «NR», устойчива к запылению – маркировка «D».
                p Срок эксплуатации зависит от условий эксплуатации.
                p Поставка производится как в индивидуальной, так и в групповой упаковке.
                p Подробные указания по эксплуатации приведены в соответствующей документации.
                p Указанная выше информация носит ознакомительный (справочный) характер.
            a(href="#contacts").btn-default.card-modal__order Заказать 
.card-modal.overlay.hidden
    .card-modal__wrapper 
        button.modal__close
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94414 28L0 25.0559L11.0072 14L0 2.94414L2.94414 0L14 11.0072L25.0559 0L28 2.94414L16.9928 14L28 25.0559L25.0559 28L14 16.9928L2.94414 28Z" fill="rgba(83, 83, 83, 0.5)"/></svg>
        .card-modal__pics 
            .swiper-card
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/card2.png" alt="")
                    .swiper-slide
                        img(src="img/card21.png" alt="")
                    .swiper-slide
                        img(src="img/card22.png" alt="")
                .swiper-button-prev
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.083 33.667L0.416992 17L17.083 0.333008L19.625 2.91701L5.54199 17L19.625 31.083L17.083 33.667Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
                .swiper-button-next
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.917 33.625L0.375 31.042L14.458 16.958L0.375 2.83299L2.917 0.291992L19.583 16.958L2.917 33.625Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
        .card-modal__description 
            h3.card-modal__title Полумаска фильтрующая для защиты от аэрозолей (респиратор) «Л-200»
            span.card-modal__subtitle Класс фильтрующей эффективности: FFP2 (до 12 ПДК) FFP3 (до 50 ПДК)
            .card-modal__text 
                p Полумаска фильтрующая (респиратор) «Л-200» предназначена для индивидуальной защиты органов дыхания человека от вредных аэрозолей – пыли, дыма, тумана.
                p Не предназначена для защиты от вредных паров и газов.
                p Изделие представляет собой фильтрующую полумаску с двумя лентами оголовья. Его корпус состоит из нескольких слоёв различных фильтрующих материалов.
                p Собирается индивидуально, с учётом анатомических особенностей лица конкретного человека.
                p Полумаска является одноразовой – маркировка «NR», устойчива к запылению – маркировка «D».
                p Срок эксплуатации зависит от условий эксплуатации.
                p Поставка производится как в индивидуальной, так и в групповой упаковке.
                p Подробные указания по эксплуатации приведены в соответствующей документации.
                p Указанная выше информация носит ознакомительный (справочный) характер.
            a(href="#contacts").btn-default.card-modal__order Заказать 
.card-modal.overlay.hidden
    .card-modal__wrapper 
        button.modal__close
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94414 28L0 25.0559L11.0072 14L0 2.94414L2.94414 0L14 11.0072L25.0559 0L28 2.94414L16.9928 14L28 25.0559L25.0559 28L14 16.9928L2.94414 28Z" fill="rgba(83, 83, 83, 0.5)"/></svg>
        .card-modal__pics 
            .swiper-card
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/card3.png" alt="")
                    .swiper-slide
                        img(src="img/card31.png" alt="")
                .swiper-button-prev
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.083 33.667L0.416992 17L17.083 0.333008L19.625 2.91701L5.54199 17L19.625 31.083L17.083 33.667Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
                .swiper-button-next
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.917 33.625L0.375 31.042L14.458 16.958L0.375 2.83299L2.917 0.291992L19.583 16.958L2.917 33.625Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
        .card-modal__description 
            h3.card-modal__title Полумаска фильтрующая для защиты от аэрозолей (респиратор) «Л-200»
            span.card-modal__subtitle Класс фильтрующей эффективности: FFP2 (до 12 ПДК) FFP3 (до 50 ПДК)
            .card-modal__text 
                p Полумаска фильтрующая (респиратор) «Л-200» предназначена для индивидуальной защиты органов дыхания человека от вредных аэрозолей – пыли, дыма, тумана.
                p Не предназначена для защиты от вредных паров и газов.
                p Изделие представляет собой фильтрующую полумаску с двумя лентами оголовья. Его корпус состоит из нескольких слоёв различных фильтрующих материалов.
                p Собирается индивидуально, с учётом анатомических особенностей лица конкретного человека.
                p Полумаска является одноразовой – маркировка «NR», устойчива к запылению – маркировка «D».
                p Срок эксплуатации зависит от условий эксплуатации.
                p Поставка производится как в индивидуальной, так и в групповой упаковке.
                p Подробные указания по эксплуатации приведены в соответствующей документации.
                p Указанная выше информация носит ознакомительный (справочный) характер.
            a(href="#contacts").btn-default.card-modal__order Заказать 
.card-modal.overlay.hidden
    .card-modal__wrapper 
        button.modal__close
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94414 28L0 25.0559L11.0072 14L0 2.94414L2.94414 0L14 11.0072L25.0559 0L28 2.94414L16.9928 14L28 25.0559L25.0559 28L14 16.9928L2.94414 28Z" fill="rgba(83, 83, 83, 0.5)"/></svg>
        .card-modal__pics 
            .swiper-card
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/card4.png" alt="")
                    .swiper-slide
                        img(src="img/card41.png" alt="")
                .swiper-button-prev
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.083 33.667L0.416992 17L17.083 0.333008L19.625 2.91701L5.54199 17L19.625 31.083L17.083 33.667Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
                .swiper-button-next
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.917 33.625L0.375 31.042L14.458 16.958L0.375 2.83299L2.917 0.291992L19.583 16.958L2.917 33.625Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
        .card-modal__description 
            h3.card-modal__title Полумаска фильтрующая для защиты от аэрозолей (респиратор) «Л-200»
            span.card-modal__subtitle Класс фильтрующей эффективности: FFP2 (до 12 ПДК) FFP3 (до 50 ПДК)
            .card-modal__text 
                p Полумаска фильтрующая (респиратор) «Л-200» предназначена для индивидуальной защиты органов дыхания человека от вредных аэрозолей – пыли, дыма, тумана.
                p Не предназначена для защиты от вредных паров и газов.
                p Изделие представляет собой фильтрующую полумаску с двумя лентами оголовья. Его корпус состоит из нескольких слоёв различных фильтрующих материалов.
                p Собирается индивидуально, с учётом анатомических особенностей лица конкретного человека.
                p Полумаска является одноразовой – маркировка «NR», устойчива к запылению – маркировка «D».
                p Срок эксплуатации зависит от условий эксплуатации.
                p Поставка производится как в индивидуальной, так и в групповой упаковке.
                p Подробные указания по эксплуатации приведены в соответствующей документации.
                p Указанная выше информация носит ознакомительный (справочный) характер.
            a(href="#contacts").btn-default.card-modal__order Заказать 
.card-modal.overlay.hidden
    .card-modal__wrapper 
        button.modal__close
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94414 28L0 25.0559L11.0072 14L0 2.94414L2.94414 0L14 11.0072L25.0559 0L28 2.94414L16.9928 14L28 25.0559L25.0559 28L14 16.9928L2.94414 28Z" fill="rgba(83, 83, 83, 0.5)"/></svg>
        .card-modal__pics 
            .swiper-card
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/card5.png" alt="")
                    .swiper-slide
                        img(src="img/card51.png" alt="")
                .swiper-button-prev
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.083 33.667L0.416992 17L17.083 0.333008L19.625 2.91701L5.54199 17L19.625 31.083L17.083 33.667Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
                .swiper-button-next
                    <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.917 33.625L0.375 31.042L14.458 16.958L0.375 2.83299L2.917 0.291992L19.583 16.958L2.917 33.625Z" fill="rgba(13, 75, 148, 0.3)"/></svg>
        .card-modal__description 
            h3.card-modal__title Полумаска фильтрующая для защиты от аэрозолей (респиратор) «Л-200»
            span.card-modal__subtitle Класс фильтрующей эффективности: FFP2 (до 12 ПДК) FFP3 (до 50 ПДК)
            .card-modal__text 
                p Полумаска фильтрующая (респиратор) «Л-200» предназначена для индивидуальной защиты органов дыхания человека от вредных аэрозолей – пыли, дыма, тумана.
                p Не предназначена для защиты от вредных паров и газов.
                p Изделие представляет собой фильтрующую полумаску с двумя лентами оголовья. Его корпус состоит из нескольких слоёв различных фильтрующих материалов.
                p Собирается индивидуально, с учётом анатомических особенностей лица конкретного человека.
                p Полумаска является одноразовой – маркировка «NR», устойчива к запылению – маркировка «D».
                p Срок эксплуатации зависит от условий эксплуатации.
                p Поставка производится как в индивидуальной, так и в групповой упаковке.
                p Подробные указания по эксплуатации приведены в соответствующей документации.
                p Указанная выше информация носит ознакомительный (справочный) характер.
            a(href="#contacts").btn-default.card-modal__order Заказать 
